html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  /* Prevent horizontal scrolling */
  font-size: medium;
   
}

.dashboard {
  margin-top: 20px;
}

.user-info {
  display: flex;
  border: 1;
}


.side-bar {
  text-transform: uppercase;
  font-size: 40;
  margin: 5px;
  padding-left: 30px;
  height: 100vh;
}

.flag {
  height: 20px;
  width: 20px;
}


.smalltext {
  font-size: 13px;
}



.uploadcv:hover {
  border: 2px dashed blue !important;
}


.btn-light {
  padding: 2px 5px; /* Reduces padding inside each button */
  margin: 0 2px; /* Reduces space between buttons */
}

.iconimg {
  width: 18px;/* Adjust the size of the icon */
  height: 18px;/* Adjust the size of the icon */
}

.main-content{
    margin-top: 10px;
}

.main-title{
  margin-top: 35px;
  margin-bottom: 25px;
}



/* The tooltip text container */
.tooltip-text {
  display: none; /* Initially hidden */
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: gray;
  pointer-events: none; /* Prevent tooltip from blocking input field */
  margin-top: 30px;
}

/* When the input is hovered, show the tooltip */
#exampleInputEmail1:hover + .tooltip-text {
  display: block;
}

.tooltip-text {
  display: none; /* Initially hidden */
  position: absolute;
  left: 20px;
  margin-top: 15px;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  font-size: 14px; /* Slightly larger font size */
  color: gray;
  pointer-events: none; /* Prevent tooltip from blocking input field */
  /* white-space: pre-line; Respect line breaks */
}

/* When the input is hovered, show the tooltip */
#exampleInputEmail1:hover + .tooltip-text {
  display: block;
}






/* PHONE  */
@media screen and (max-width: 576px) {
 
  .side-bar {
    max-width: 250px;
    padding-left: 10px;
  }


  /* Adjust the toggle button icon size */
  .navbar-toggler-icon {
    width: 15px;
    height: 15px;
   
  }

  .dis-img {

    height: 220px;
    width: 220px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 90px;
  }
  

  #logo {
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }


}












/* sm (for medium-sized devices) */
@media (min-width: 576px) and (max-width: 768px) {
  .btn-group-wrapper {
    justify-content: flex-start;
  }

  .btn-light {
    padding: 6px 10px;
  }

  .iconimg {
    width: 16px;
    height: 16px;
  }

  .dis-img {

    height: 200px;
    width: 200px;
    margin-top: 30px;
    margin-left: 150px;
    padding-bottom: 10px;
  }

  .written {
    padding-bottom: 70px;
  }

   
.btn.md-margin{
  margin-left: 160px;
}

  #logo {
    padding-top: 10px;
    margin-top: 10px;
    width: 100%;
    height:50px ;
  }


}







/* TABLET   */
@media (min-width: 768px) and (max-width: 992px) {
  .dis-img {
    border-radius: 50%;
    height: 230px;
    width: 230px;
    padding-bottom: 18px;
    margin-left: 40px;
  }

  
#logo {
  padding-top: 10px;
  margin-top: 10px;
}

.main-title{
  padding-top: 20px;
  padding-left: 50px;
}



}
















/* LAPTOP/ DESKTOPS */
@media screen and (min-width: 992px) {
    main-content {

        /* height: 30px; */
        width: 1400px;
        margin-top: 10px;
        margin-left: 30px;
      }

      
  #logo {
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 0px;
  }

  .navbar{
    margin-left: -45px;
  }
    
.navbar-brand{
  font-weight: 600;
}

.dis-img{
  border-radius: 50%;
  height: 160px;
  width: 100%;
}


.dis-img {
  border-radius: 50%;
  height: 120px;
  width: 130Px;
  margin-top: 30px;
}


.hea{
  margin-top: -3px;
  margin-bottom: 20px;
}

}
